@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

@font-face {
	font-family: Ansichtkaart;
	src: url(Ansichtkaartdemo-lGmX.otf);
}

:root {
	--background-color: #18182e;
	--text-color: #f9f9f9;
	--font: Garamond, "EB Garamond", serif;
	--heading: #ffae3d;
}

.light {
	--background-color: #ffedd9;
	--text-color: #2e2218;
	--font: Garamond, "EB Garamond", serif;
	--heading: #ba6c52;
}

.light-dys {
	--background-color: #ffedd9;
	--text-color: #2e2218;
	--font: Calibri, Helvetica, sans-serif;
	--heading: #ba6c52;
}

.dark-dys {
	--background-color: #18182e;
	--text-color: #f9f9f9;
	--font: Calibri, Helvetica, sans-serif;
	--heading: #ffae3d;
}

body, .body-override {
	font-family: var(--font);
	margin: auto;
	color :var(--text-color);
	background-color: var(--background-color);
}

#theme-switch {
	height: 50px;
	width: 50px;
	padding: 0px;
	border-radius: 50%;
	border: 2px solid #ff6600;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 5%;
	left: 100%;
	transform: translateX(-190%);
	z-index: 99999;
	background-color: transparent;
}

#theme-switch svg {
	fill: #ff6600
}

#theme-switch svg {
	display: none;
}

#theme-switch svg:nth-child(1) {
	display: block;
}

.light #theme-switch svg:nth-child(2) {
	display: block;
}

.light #theme-switch svg:nth-child(1) {
	display: none;
}

.light-dys #theme-switch svg:nth-child(3) {
	display: block;
}

.light-dys #theme-switch svg:nth-child(1) {
	display: none;
}

.dark-dys #theme-switch svg:nth-child(4) {
	display: block;
}

.dark-dys #theme-switch svg:nth-child(1) {
	display: none;
}

#themes-button:hover {
	color: var(--heading);
	border: 2px solid var(--heading);
}

h1, .h1-override {
	font-family: Ansichtkaart;
	font-size: 90px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: var(--heading);
	font-weight: normal;
}

.h2-override {
	font-weight: bold;
}

a, .col a, .col-sm a, .container-character a { 
	color:#ff6600;
}

a:hover, .col a:hover, .col-sm a:hover, .container-character a:hover { 
	color:var(--heading);
}

a:active, .col a:active, .col-sm a:active, .container-character a:active { 
	color:#e89b2f;
}

nav {
	margin-top:20px;
    text-align: center;
}

nav a {
	margin:8px 12px;
	font-size: 19px;
    display: inline-block;
    text-align: center;
	text-decoration: none;
	font-weight: bold;
	line-height: 1.5;
}

button {
	background-color: transparent;
	color: var(--text-color);
	font-family: var(--font);
	border: 2px solid var(--text-color);
	font-size: 20px;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

button:hover {
	color: var(--heading);
	border: 2px solid var(--heading);
}

button:disabled {
	color: var(--heading);
	border: 2px solid var(--heading);
  }

.footer-text {
	/* max-width: 600px; */
	margin: auto;
}

.footer-text a {
	margin: 0px 8px;
	line-height: 1.8;
    display: inline-block;
	text-decoration: none;
}

iframe {
	display: block;
    border-style: none;
    margin: auto;
	width: 100%;
}

.iframe-header {
	display: block;
	height: 360px;
}

.iframe-footer {
	display: block;
	height: 434px;
}

.story-title {
	font-size: 40px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.story-nav {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.story-nav a {
	color: var(--heading);
}

.container-story {
	padding: 18px;
	max-width: 600px;
	margin: auto;
}

.container {
	padding: 18px;
	max-width: 800px;
	margin: auto;
}

.spoiler {
	text-align: center;
	border: 1px solid var(--text-color);
	margin-bottom: 10px;
	padding: 15px;
	padding-top: 0px;
}

.container-character {
	padding: 18px;
	max-width: 900px;
	margin: auto;
}

.character-table {
	font-size: 20px;
	line-height: 1.2;
	font-family: var(--font);
	margin-bottom: 20px;
	color:var(--text-color);
	width: 100%;
}

.character-table td {
	vertical-align: top;
}

.character-profile {
	margin: 1000px;
}

.character-spacer {
	margin: 50px;
}

p, li {
	font-size: 20px;
	line-height: 1.3;
}

.indented {
    text-indent: 50px;
}

.block {
    padding-left: 25px;
	margin-left: 25px;
	border-left: 3px solid var(--text-color);
}

.tagline {
	color:var(--heading);
	margin-bottom: 25px;
}

.profile {
	height: 300px;
}

.playlist-order li {
	margin-top: 20px;
}

.playlist-order p {
	margin-top: 0px;
	font-size: 17px;
}

/* art in stories are put into containers */
.container-story img, video {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	object-fit: contain;
}

.container img, video {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	object-fit: contain;
}

/* portrait images span half width of desktop, but full width of mobile */
.portrait {
	display: block;
	margin: auto;
	max-width: 50%;
}

/* landscape images always span full width on all devices */
.landscape {
	display: block;
	margin: auto;
	max-width: 100%;
}

.gallery {
	margin: auto;
	margin-top: 20px;
	max-width: 800px;
}

.gallery td {
	width: 33%;
}

/* wraps each (portrait) gallery image for 'automatic square cropping' */
.gallery-tile {
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1/1;
	overflow: hidden;
}

.gallery-tile img {
	display: block;
	margin: auto;
	width: 100%;
	object-fit: contain;
}

/* landspace images need veritcal cropping (aka why absolute position is needed) */
.gallery-tile-hor {
	aspect-ratio: 1/1;
	overflow: hidden;
	position: relative;
}

.gallery-tile-hor img {
	display: block;
	margin: auto;
	height: 100%;
	object-fit: contain;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.spotify {
	margin: auto;
	width: 50%;
}

.bluesky-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin: 0px;
}

.banner img {
	flex-shrink: 0;
	display: block;
	max-width: none;
	object-fit: cover;
	object-position: center;
}

.start-story {
	display: block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	margin: auto;
	height: 100%;
	padding: 18px;
}

.footer-banner {
	display: flex;
	background-image: url("../img/footer.png");
	background-position: center;
	background-repeat: no-repeat;
	max-width: 100%;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}

.courier {
	font-family: 'Courier New', Courier, monospace;
	font-size: 17px;
}

/* sliding gallery stuff */
.sliding-gallery {
	margin-right: 20px;
}

.slider-wrapper {
  position: relative;
  max-width: 200px;
  margin: 0 auto;
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	/* bottom: 1px; */
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: whitesmoke;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}


/* mobile mode */
@media only screen and (max-width: 767px) {
	.iframe-header {
		height: 400px;
	}

	.iframe-footer {
		height: 430px;
	}
	
	img, video {
		max-width: 100%;
	}

	.portrait {
		max-width: 100%;
	}

	.story-nav {
		width: 80%;
	}
	
	.spotify{
		width: 90%;
	}

	.profile {
		height: auto;
		width: 100%;
		margin-bottom: 10px;
	}

	.sliding-gallery {
		margin-right: 0px;
		margin-bottom: 20px;
	}

	#theme-switch {
		bottom: 2%;
		left: 100%;
		transform: translateX(-160%);
		background-color: var(--background-color);
	}
}